.App {
  text-align: center;
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
}

.add-forward-item-button {
  margin-top: 5px;
}

.action-list {
  padding: 0;
  list-style-type: none;
}

.action-list-item .btn {
  width: 100%;
  border: 1px solid black;
  min-height: 4rem;
  height: fit-content;
  line-height: 3rem;
}

.action-list-item .btn * {
  font-size: larger;
}

.delete {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}